* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.top {
    height: 1024px;
    background-image: url(./images/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading {
    width: 789px;
    height: 125px;
    font-size: 64px;
    line-height: 78px;
    color: white;
    font-weight: 700;
    padding-top: 217px;
    padding-left: 120px;
}

.about {
    width: 481px;
    height: 64px;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    padding-left: 120px;
    padding-top: 32px;
}

.link__main {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.button__main {
    width: 234px;
    height: 48px;
    padding-left: 120px;
    padding-top: 44px;
    padding-bottom: 494px;
    transition: opacity 0.3s ease-in-out;
}

.button__main:hover {
    opacity: 0.8;  
  }

.footer {
    height: 556px;
    //flex-direction: column;
    background-image: url(./images/background__bottom-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.offers {
    display: flex;
    //flex-wrap: wrap;
    gap: 32px;
    padding-left: 120px;
    padding-top: 128px;
    padding-bottom: 128px;
    padding-right: 128px;
}


.product__img {
    width: 379px;
    height: 300px;
    border-radius: 16px;
}

.games {
  //display: grid;
  //grid-template-columns: repeat(12, 1fr);
  display: flex;
  gap: 136px;
  //background-image: url(./images/seasons__background.jpg);
}

.game1 {
  //grid-column: span 6;
  display: flex;
  //flex-direction: column;
  height: 800px;
  background-image: url(./images/seasons__background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game2 {
  display: flex;
  //flex-direction: column;
  height: 800px;
  background-image: url(./images/words__background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game3 {
  display: flex;
  height: 800px;
  background-image: url(./images/riddles__background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game__content {
  width: 584px;
  height: 235px;
  padding-left: 120px;
  gap: 32px;
  padding-top: 282px;

}

.game__name {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  margin-bottom: 32px;
}

.game__about {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  color: #ffffff;
}

.game__button {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  margin-top: 32px;
  background-color: #9c0332;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  transition: opacity 0.3s ease-in-out;
}

.game__button:hover {
  opacity: 0.8;  
}

.game__img {
  width: 485px;
  height: 333px;
  display: flex;
  border-radius: 16px;
  padding-top: 233px;
  padding-left: 135px;
}

.game3__content {
  width: 1200px;
  height: 235px;
  padding-left: 120px;
  gap: 32px;
  padding-top: 276px;
  text-align: center;
}



.footer__footer {
  display: flex;
  height: 80px;
  background-image: url(./images/footer__background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__about {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
}
@import "mobile"